.discover-homebody-card-container {
  background-color: #ffffff;
  box-shadow: 5px rgb(rgb(212, 206, 206));
  margin-right: 0;
}
.discover-gumtree-freelance-heart-color {
  color: red;
  font-size:24px;
  z-index: 999;
  position: relative;
  cursor:pointer;
}

.discover-home-card-details-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  padding: 4%;
}

.discover-card-container {
  box-shadow: 0 0 3px #b7b4b7;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 23.5%;
}

.discover-card-image {
  height: 200px;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.discover-card-heading {
  font-size: 20px;
}

.discover-home-location-card {
  display: flex;
  flex-direction: column;
  color: black !important;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 10px;
  align-self: flex-start;
}

.discover-card-location-contianer {
  display: flex;
  width: max-content;
  height: max-content;
  color: black;
  gap:3px;
}

.discover-card-location-icon {
  height: 15px;
  width: 15px;
}

.discover-card-location {
  font-size: 13px;
  display: flex;
  color: black;
  margin: 0;
  align-self: flex-start;
}

.discover-gumtree-freelance-euros {
  color: #52a744;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: bold;
}
