@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    min-height: 100vh;
    background-color: #f5f5f0;
}

.login-box {
    background: #0D475C;
    border-radius: 8px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.login-form {
    background-color: #0D475C;
    padding: 50px 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.login-caption {
    color: #ffffff;
    font-weight: 600;
    font-size:24px;
    text-align: center;
    letter-spacing: 0.1em;
    margin-top:25px;
}
.login-input {
    padding:10px;
    display:block;
    background-color: #fff;
    border: none;
    outline:none;
    box-shadow: none;
    font-size: 25px;
    letter-spacing: 0.05em;
    border-radius:5px;
    display:block;
    width:100%;

}
.login-user-container{
    display:block;
    margin-top:25px;
    
}
.login-button{
    border: none;
    outline: none;
    display:block;
    padding:10px;
    background: #72EF36;
    font-size: 25px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 25px;
    display:block;
    color:#fff;
    font-weight:600;
    width:100%;
}

.login-button{
    opacity:0.9;
}
.logo{
    width:200px;
}
.logo-container{
    text-align:center;
    display:flex;
    justify-content: center;
    align-items:center;
    gap:4px;
}
.bquest-logo-name{
    font-size:32px;
    font-weight:600;
    color:#fff;
    font-family: "Roboto";
}
.error-message{
    color:red;
}
.blur{
    color:red;
}
.forgot-password{
    color:#fff;
    font-size:18px;
    font-family:"Roboto";
    cursor:pointer;
    text-align:center;
    margin-top:15px;
}
.forgot-password:hover{
    color:blue;
    text-decoration:underline;
}
.dont-have-account{
    color:#fff;
    font-size:18px;
    font-family:"Roboto";
    margin-top:30px;
    text-align:center;
}
.register-here{
    color:#72EF36;
    font-size:20px;
    cursor:pointer;
    text-decoration:none;
}